{% extends "base.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ super() }}

      <h1 class="govuk-heading-xl">Report a problem with a desk</h1>
      <p class="govuk-body-l">
        You are reporting a problem with a desk please enter the details on the next page and a member of Business
          Support staff will be notified by email very soon.
      </p>

      <h2 class="govuk-heading-l">Example forms</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link" href="{{ url_for('demo.bank_details') }}">Bank details</a></li>
        <li><a class="govuk-link" href="{{ url_for('demo.create_account') }}">Create an account</a></li>
        <li><a class="govuk-link" href="{{ url_for('demo.kitchen_sink') }}">Kitchen sink</a></li>
        <li><a class="govuk-link" href="{{ url_for('demo.conditional_reveal') }}">Conditional reveals</a></li>
      </ul>
    </div>
  </div>
{% endblock %}
